.BtnWhatsNew {
    color: #55637A !important;
    font-weight: lighter !important;
    font-size: 0.877rem !important;
    padding: 0.399rem 1rem 0.399rem 0.577rem !important;
    i {
      font-size: 1.2rem;
      line-height: 0.9rem;
      vertical-align: middle;
    }
  }
  
  //14062021
  .ui.inverted.top.fixed.menu {
    background-color:#EAEDED !important;
    box-shadow: 2px 1px 10px #888;
    min-height: 54px !important;
  }
  .AvatarMar {
    margin-right: 1.6rem !important;
  }
  .CuzUsrDropdown>i:before {
    margin-left: 3rem !important;
  }
  
  .AvatarPosition {
    position: absolute !important;
    right: -0.4rem !important;
  }
  //02102020 New styling
  .ui.container {
    margin-left: 5.5em !important;
    margin-right: auto !important;
    width: 93%;
  }
  
  .ui.inverted.menu .item, 
  .ui.inverted.menu .item > a:not(.ui) {
    background: 0 0;
    color: rgba(17, 17, 17, 0.9);
  }
  
  .UserNameNav {
    font-weight: bold !important;
    font-size: 1.2rem;
    color: #55637A !important;
  }
  

  .MainTitleText.NavCalendar {
    display: none;
  }
  @media only screen and (max-width: 767px){
    .ui.container {
      margin-left: 4.211rem !important;
      margin-right: auto !important;
      width: 82.677% !important;
    }
    .ui.menu:not(.vertical) .item.MainTitleText.NavCalendar {
      display: none !important;
    }
    .UserNameNav {
      left: 4.88rem !important;
      margin-top: 0.288rem !important;
    }
    .BtnWhatsNew span {
      display: none !important;
    }
    .DisInlineBlock {
      display: inline-block !important;
      .MainTitleText.AvatarMar {
        float: right !important;
      }
    }
    .ui.menu:not(.vertical) .item.UserNameNav {
      display: inline-block !important;
    }
    .CuzUsrDropdown > div.text {
      margin-top: 0.477rem;
    }
  }
  